# ----- OS / Editor -----
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp

# VS Code / JetBrains
.idea/
*.iml
*.ipr
*.iws
.vscode/.history/

# ----- Logs -----
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ----- Dart / Flutter -----
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub/
.pub-cache/
build/
coverage/

# Generated docs
doc/api/

# Flutter symbol / map outputs
app.*.symbols
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Service account for firebase database
**/serviceAccount.json

node_modules/
.env

# Temporary files of audio generation
temp/